BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
SortIncludes: true
IncludeBlocks: Regroup
ReflowComments: true
